/* default system cursor stays */
body {
  cursor: auto;
}

/* cursor dot */
.cursor-dot {
  position: fixed;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  background: #004643;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* eye icon */
.cursor-eye {
  font-size: 7px;
  /* padding: 2px; */
  color: #111;
  opacity: 0;
  pointer-events: none;
}